{% extends 'base.html.twig' %}

{% block title %}Wild Series{% endblock %}
{% block navbar %}
    {% include './component/_navbar.html.twig' %}
{% endblock %}
{% block body %}
    <h3 class="text-primary">Toutes vos séries :</h3>

    {% for program in programs %}
        <div class="text-light">
            <h3 class="text-primary">{{ loop.index }} / {{ program.title }} - Catégorie : {{ program.category.name }}</h3>
            <p>{{ program.synopsis }}</p>

            <a href="{{ path("program_list", { id: program.id }) }}">Voir la fiche</a>
        </div>

    {% endfor %}

{% endblock %}