<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Wild Series | {% block title %}{% endblock %}</title>
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
        {% block navbar %}
        {% endblock %}
        
        <main>
        {% for category, messages in app.flashes %}
            {% for message in messages %}
                <div class="bg-primary alert alert-{{ category }} text-{{category}}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endfor %}
            {% block body %}
            {% endblock %}
        </main>
        
    </body>
</html>
