<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
        {% block navbar %}
        <nav class="container-fluid bg-primary p-3 d-flex justify-content-between align-items-center">
            <div>
                <a href="/"><h1 class="text-dark">Wild Series</h1></a>
            </div>
            <a class="p-3 text-dark" href="/">
                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-house-fill" viewBox="0 0 16 16">
                    <path d="M8.707 1.5a1 1 0 0 0-1.414 0L.646 8.146a.5.5 0 0 0 .708.708L8 2.207l6.646 6.647a.5.5 0 0 0 .708-.708L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.707 1.5Z"/>
                    <path d="m8 3.293 6 6V13.5a1.5 1.5 0 0 1-1.5 1.5h-9A1.5 1.5 0 0 1 2 13.5V9.293l6-6Z"/>
                </svg>
            </a>
        </nav>
        {% endblock %}
        
        <main class="bg-light text-dark container p-4 rounded my-5">
        {% for category, messages in app.flashes %}
            {% for message in messages %}
                <div class="bg-primary alert alert-{{ category }} text-{{category}}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endfor %}
            {% block body %}
            {% endblock %}
        </main>

        <footer class="container my-3">
            <a class="btn bg-primary p-4 text-subtitle" href="/">Retour à l'accueil du site</a>
        </footer>

    </body>
</html>
